@font-face {
  font-family: "iconfont"; /* Project id 3985168 */
  src: url('iconfont.woff2?t=1680367728306') format('woff2'),
       url('iconfont.woff?t=1680367728306') format('woff'),
       url('iconfont.ttf?t=1680367728306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang1:before {
  content: "\e670";
}

.icon-shoucang:before {
  content: "\e630";
}

.icon-dianzan:before {
  content: "\e647";
}

.icon-31shoucang:before {
  content: "\e603";
}

.icon-31dianzan:before {
  content: "\e600";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-31haoyou:before {
  content: "\e601";
}

.icon-zuixingengxin:before {
  content: "\e61e";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-fires:before {
  content: "\e602";
}

.icon-appreciate_fill:before {
  content: "\e60f";
}

