spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true # 开启页面表单的Rest功能

  datasource:
    # 配置数据源类型
    type: com.zaxxer.hikari.HikariDataSource
    # 配置连接数据库信息
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rocketblog?characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456

  mail:
    host: smtp.qq.com
    username: 1346802467@qq.com
    password: uzhblohhwmvwhfib
    default-encoding: UTF-8
    protocol: smtp
    # smtp的指定端口 使用465要将protocol改为smtps
    port: 587
    # 设置开启ssl
    properties:
      mail:
        stmp:
          ssl:
            enable: true

mybatis:
  mapper-locations: classpath:com/xftxyz/rocketblog/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

pagehelper:
  helper-dialect: mysql
